<div id="header-inner">
	<span class="bold">
		<a href="index.html">
			<span id="main-title">24ore di</span>
			<img src="static/res/tichu_full.png" alt="Tichu" id="tichu-img">
		</a>
	</span>

	<button id="collapse-btn" onclick="toggle_collapse_navbar()">&#9776</button>
	<div id="links-inner">
	<span class="header-link">
		<a href="cur_edition.html">Edizione corrente</a>
	</span>
	<span class="header-link">
		<a href="editions.html">Edizioni passate</a>
	</span>
	<span class="header-link">
		<a href="about.html">Informazioni</a>
	</span>
	</div>
	
</div>