#header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #2b2b2b;
}

#header-inner {
	width: 90%;
	margin: 0 auto 0 auto;
	font-size: 20px;
	color: white;
	display: flex;
	flex-wrap: wrap;
	padding: 12px 0 12px 0;
	justify-content: space-between;
}

#header-inner * {
	vertical-align: middle;
}

#header-inner a {
	text-decoration: none;
}

#links-inner {
	margin: auto 0 auto 0;
	display: flex;
}

.header-link {
	font-size: 16px;
	margin-left: 15px;
}

#collapse-btn {
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
	color: white;
	font-size: 28px;
	line-height: 0;
	display: none;
}

#main-title {
	text-decoration: none;
	font-size: 24px;
	margin-right: 10px;
}

#tichu-img {
	height: 33px;
}

@media screen and (max-width: 800px) {
	#main-title {
		font-size: 22px;
	}
	#tichu-img {
		height: 25px
	}
	.header-link {
		font-size: 14px;
	}
}

@media screen and (max-width: 650px) {
	#collapse-btn {
		display: block;
	}
	.header-link {
		display: block;
		margin-left: 0;
		margin-top: 10px;
	}
	#links-inner {
		display: block;
		max-height: 0px;
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
		overflow: hidden;
		min-width: 90%;
	}
	#links-inner.nav-visible {
		max-height: 65em;
		transition: max-height 1s ease-in-out;
	}
}