* {
    font-size: inherit;
    font-family: "Roboto", serif;
}

table {
    border-collapse: collapse;
}

thead {
    font-weight: bold;
}

tr:nth-child(odd):not(thead tr, .no-alternate-rows tr) {
    background-color: rgb(230, 230, 230);
}

tr:nth-child(odd):hover:not(thead tr, .no-alternate-rows tr) {
    background-color: rgb(215, 215, 215);
}

tr:nth-child(even):hover:not(.no-alternate-rows tr) {
    background-color: rgb(240, 240, 240);
}

.def-table td {
    padding: 3px 5px 3px 5px;
    border: 1px solid black;
}

a {
	color: inherit;
    text-decoration: underline;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.std-btn {
    background-color: transparent;
    font-size: 18px;
    color: black;
    border: none;
    border-radius: 10px;
    width: 160px;
    padding: 8px 0 8px 0;
    border: 1px solid black;
    margin: 3px 2px 3px 2px;
}

.std-btn:hover {
    text-decoration: underline;
}

.green {
    color: green;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}

.orange {
    color: orange;
    font-weight: bold;
}

.black {
    color: black;
    font-weight: bold;
}

.fill-h {
    width: 100%;
    left: 0;
    right: 0;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    flex-wrap: wrap;
    width: 100%;
}

.flex-left {
    display: flex;
}

.flex-left > * {
    padding: 15px 35px 15px 5px;
}

.page-wrapper {
    margin: 130px auto 150px auto;
    width: 70%;
}

.leaflet-control-attribution * {
    font-size: 10px;
}

.leaflet-tooltip {
    font-size: 16px;
}

@media screen and (max-width: 800px) {
    .page-wrapper {
        width: 90%;
        margin-top: 110px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }
}