
.page-wrapper > div, table {
    font-size: 16px;
}

#select-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
}

#stats-table td {
    padding: 3px 15px 3px 15px;
}

#stats-table td:nth-child(1) {
    text-align: right;
}

#map-wrapper {
    width: 400px;
    margin: 0;
}

#tabs-wrapper > * {
    margin: auto 0 auto 0;
    padding: 15px 5px 15px 5px;
}

#players-wrapper {
    margin-top: 30px;
    display: flex;
}

#players-wrapper > * {
    padding: 15px 35px 15px 5px;
}

.pl-table {
    min-width: 260px;
}