
.page-wrapper > div, table {
    font-size: 16px;
}

#select-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
}

#stats-table td {
    padding: 3px 15px 3px 15px;
}

#stats-table td:nth-child(1) {
    text-align: right;
}

#map-wrapper {
    width: 400px;
    margin: 0;
}

#tabs-wrapper > * {
    margin: auto 0 auto 0;
    padding: 15px 5px 15px 5px;
}

#players-wrapper {
    margin-top: 30px;
}

.pl-table {
    min-width: 260px;
}

.pl-table-wrapper > h2 {
    margin-bottom: 10px;
}


@media screen and (max-width: 1100px) {
    #page-wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 950px) {
    #page-wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 850px) {
    #tabs-wrapper {
        display: block;
    }
    #map-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    #stats-tab, .def-table {
        font-size: 14px;
    }
    .pl-table {
        min-width: 200px;
    }
    .pl-table-wrapper {
        padding: 0;
        margin: 0 10px 0 10px;
    }
}

@media screen and (max-width: 600px) {
    .pl-table {
        min-width: 150px;
    }
    .pl-table-wrapper {
        margin: 0 5px 0 5px;
    }
}